<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      .my-pagination /deep/ .ngx-pagination .current {
        background: #17a2b8 !important;
        border: transparent;
          border-radius: 20px;
      }
      :host /deep/.ngx-pagination .current:hover {
  background: red !important;
  border-radius: 20px;
  border: transparent;
  }
  .clearfix {
  position:relative;
  right: 15%;
  left: 0%;
  font-size: 16px;
  }
    </style>
  </head>
  <!--refrence
    <input type="text" class="form-control" placeholder="What are you looking for?" name="genre" [(ngModel)]="genre">
    <div class="input-group-btn">
    <button  class="btn btn-default" type="submit" (click)="getByMoviesGenre()">
    <i class="glyphicon glyphicon-search"></i>
    </button>-->
  <body>
      
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <form class="navbar-form navbar-left" #viewForm="ngForm" (submit)='searchClaim(viewForm)'>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Claim By ID" name="eid"
             #eid="ngModel" [(ngModel)]="claimid" pattern="[0-9]+" maxlength="10" required>
            <div class="input-group-btn">
              <button  class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
          <span *ngIf='!eid.valid && eid.dirty && !eid.touched'>
            <p style="color: red">only numeric values allowed!</p>
        </span>
        <span *ngIf='!eid.valid && !eid.untouched && eid.pristine'>
          <p style="color: red">only numeric values allowed!</p>
      </span>
        </form>
      </div>
    </nav>


    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <form class="navbar-form navbar-left" #seeForm="ngForm" (submit)='searchEmployeeClaim(seeForm)'>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Employee Claims" name="pid"
             #pid="ngModel" [(ngModel)]="employeeid" pattern="[0-9]+" maxlength="10" required>
            <div class="input-group-btn">
              <button  class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
          <span *ngIf='!pid.valid && pid.dirty && !pid.touched'>
            <p style="color: red">only numeric values allowed!</p>
        </span>
        <span *ngIf='!pid.valid && !pid.untouched && pid.pristine'>
          <p style="color: red">only numeric values allowed!</p>
      </span>
        </form>
      </div>
    </nav>
      <h1 align="center">Claims To Be Approved!</h1>
    <div>
      <table border="2">
        <tr class="trow">
          <td>Expense Claim id</td>
          <td>Employee Id</td>
          <td>Expense Code</td>
          <td>Project Code </td>
          <td>Expense Amount</td>
          <td>Details</td>
          <td>Approve</td>
          <td>Reject</td>
          
        </tr>
        <tr class="sample" *ngFor="let claim of claims | paginate: { itemsPerPage: 6, currentPage: p }">
          <td><b>{{claim.expenseClaimId}}</b></td>
          <td><b>{{claim.employeeId}}</b></td>
          <td><b>{{claim.expenseCode}}</b></td>
          <td><b>{{claim.projectCode}}</b></td>
          <td><b>{{claim.amount}}</b></td>
          <td><button  style="padding: 10px 10px;"
            name="details"  data-toggle="modal" (click)='detail(claim.employeeId,claim.projectCode,claim.expenseCode)' data-target="#sampleModal"><span  class="glyphicon glyphicon-eye-open"></span></button></td>
          
          <td><button style="padding: 10px 10px;" (click)='addApproval(claim.expenseClaimId,claim.employeeId,claim.expenseCode,claim.projectCode,1)' 
            name="update"><i class="fas fa-thumbs-up"></i></button></td>

            <td><button style="padding: 10px 10px;" (click)='addApproval(claim.expenseClaimId,claim.employeeId,claim.expenseCode,claim.projectCode,2)' 
                name="update"><i class="fas fa-thumbs-down"></i></button></td>
          
           </tr>

         <div class="clearfix">
          <pagination-controls (pageChange)="p = $event"></pagination-controls></div>
          
      <div class="modal fade mw-100" id="sampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">

      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <form class="form-horizontal" #viewForm="ngForm">
                <b><h3 align="center">Claim Details!</h3></b>

              
               <tr align="center" class="trow">
                
                <td>Employee Name</td>
               
                
                <td>Employee Designation</td>
                <td>Employee Domain</td>
                <td>Employee Email</td>
               
               
              </tr>
               <tr class="sample" *ngFor="let vemployee of vemployees">
               
                <td><b>{{vemployee.name}}</b></td>
               
               
                <td><b>{{vemployee.designation}}</b></td>
                <td><b>{{vemployee.domain}}</b></td>
                <td><b>{{vemployee.mailId}}</b></td>
               
                <tr>
                  
                  <tr class="trow">
                    
                    <td>Project Description</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                   
                  </tr>
                  <tr class="sample" *ngFor="let vproject of vprojects">
                   
                    <td><b>{{vproject.description}}</b></td>
                    <td><b>{{vproject.projectStartDate}}</b></td>
                    <td><b>{{vproject.projectEndDate}}</b></td>
                  <tr>

                    <tr class="trow">
                      <td>Expense Code</td>
                      <td>Expense Type</td>
                      <td>Description</td>
                    
                    </tr>
                    <tr class="sample"*ngFor="let vexpense of vexpenses">
                      <td><b>{{vexpense.expenseCode}}</b></td>
                      <td><b>{{vexpense.expenseType}}</b></td>
                      <td><b>{{vexpense.description}}</b></td>
                    </tr>
              </form>
          </div>
      </div>
      
  </div>
      </table> 
    </div>  
  </body>
