<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="employeeName">Enter Employee Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="employeeName" placeholder="Enter employee name...">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="employeePAN">Enter Employee PAN:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="employeePAN" placeholder="Enter employee PAN...">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="employeeDesignation">Enter Employee designation:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="employeeDesignation" placeholder="Enter employee designation...">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="employeeDomain">Enter Employee domain:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="employeeDomain" placeholder="Enter employee Domaim...">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="employeeDOB">Enter Employee date of birth:</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="employeeDOB" placeholder="Enter employee DOB...">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="employeeDOJ">Enter Employee date of joining:</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="employeeDOJ" placeholder="Enter employee DOJ...">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="employeeEmail">Enter Employee email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="employeeEmail" placeholder="Enter employee email...">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="employeePwd">Enter Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="employeePwd" placeholder="Enter password" name="pwd">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <i class="fa fa-user-plus"></i>
        <button type="submit" class="btn btn-default">Update Employee</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>
